

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color:  #ffffff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row{
  max-width: 1140px;
    margin: 0 auto; /* top-right-bottom-left*/
  /*margin: 0 auto 0 auto;  top-right-bottom-left*/
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* Telling the browser we want to see the whole image */
  background-position: center;
 height: 100vh; /* 100% of the view port */
  color: #ffffff; /*#cc0052 ;*/
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    transform: translate(-50%, -50%);
}

h1{
  margin: 0;
}
