
/*---------------------------------------------------------------*/
/*BASIC SETUP */
/*---------------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  /*FONT FAMILIES
  font-family: 'Lato', 'Arial', sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  color: #555;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*---------------------------------------------------------------*/
/*  REUSABLE COMPONENTS */
/*---------------------------------------------------------------*/

.row{
  max-width: 1140px;
    margin: 0 auto; /* top-right-bottom-left*/
  /*margin: 0 auto 0 auto;  top-right-bottom-left*/
}

/* ---------- HEADINGS ----------- */

title{
  margin-top: 0;
  margin-bottom: 20px;
   color: #fff;
   font-size: 350%;
   font-weight: 50;
   text-transform: uppercase;
   letter-spacing: 1px;
   word-spacing: 4px;
}

title2{
  margin-top: 0;
  color: #fff;
  font-size: 300%;
  margin-bottom: 15px;
  text-align:center;
}


/*---------------------------------------------------------------*/
/*  HEADER */
/*---------------------------------------------------------------*/

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.png);
  background-size: cover;
  background-position: center;
  height: 100vh;

}


.hero-text-box{
  position: absolute ;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
