
/*---------------------------------------------------------------*/
/*BASIC SETUP */
/*---------------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  /*FONT FAMILIES
  font-family: 'Lato', 'Arial', sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #555;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/*---------------------------------------------------------------*/
/*  REUSABLE COMPONENTS */
/*---------------------------------------------------------------*/

.row{
  max-width: 1140px;
    margin: 0 auto; /* top-right-bottom-left*/
  /*margin: 0 auto 0 auto;  top-right-bottom-left*/
}

/* ---------- HEADINGS ----------- */

h1{
  margin-top: 0;
  margin-bottom: 20px;
   color: #fff;
   font-size: 240%;
   font-weight: 50;
   text-transform: uppercase;
   letter-spacing: 1px;
   word-spacing: 4px;
}

h2{
  margin-top: 0;
  color: #fff;
  margin-bottom: 15px;
}

h3{
  margin-top: 12px;
  color: #fff;
  margin-bottom: 15px;
}
/* ---------- HEADINGS ----------- */


/* ---------- BUTTONS ----------- */





.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px; /* top and bottm, left and right */


  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  /* Adding time to color change transition for buttons */


  transition: background-color 0.2s , border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ff1a75;
  border: 1px solid #ff1a75;
  color: #fff;  */
  /*adding margins between the btn's to add space"*/



  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #ff1a75;
  color:#ff1a75;
}
*/


/* hovering over a button*/
.btn:hover,
.btn:active {
  background-color: #d50055;
}
/* --------------------------*/


.btn-full:hover,
.btn-full:active {
  border: 1px solid #ff1a75;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #ff1a75;
  color:#fff;
} */

/*--------------------------------------------------------- */







/*---------------------------------------------------------------*/
/*  HEADER */
/*---------------------------------------------------------------*/

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(assets/css/img/hero.png);
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.logo{
  height: 100px;
  width: 100px;
  float: left;
  margin-top: 20px;
}

.hero-text-box{
  position: absolute ;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.logo{
  top: 60vh;
  left: 45vh;
  height: 45vh;
  width: 35vh;
  color: #fff;
}

.main-nav{
  float: right;
  list-style: none;
}

.main-nav li{
  display: inline-block;
  margin-left: 40px;
}
